{% extends "home.html" %} {% block body %}
<form method=post>
    <div id="LoginFormGenelAlan">
        <div id="LoginFormSinirlamaAlani">
            <div class="LoginFormInputlariAlani">
                <div class="LoginFormİnput">
                    <input type="text" name="username" placeholder="Username" id="">
                </div>
                <div class="LoginFormİnput">
                    <input type="password" name="password" placeholder="Passport" id="">
                </div>
                <p><input class="LoginFormButton" type=submit value=Login>
            </div>
        </div>



    </div>

</form>


{% endblock %}